.dropdown {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color : #00bc77;
    width : 90%;
    margin : 10px auto;
    padding : 0 20px;
    align-content : center;
    color : white;
}

.dropdown__row{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr auto; /* ajuste les proportions */
  gap: 12px;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 12px;
  cursor: pointer;
}

.dropdown__chev {
  transition: transform .2s;
}

.dropdown__row.is-open .dropdown__chev {
  transform: rotate(180deg);
}
.dropdown__content.hidden { 
    display: none; 
}

.dropdown__content.visible {
    display: block; padding: 12px 16px;
}

p {
    color : white;
}

.dropdown__content--transaction, .dropdown__content--category, .dropdown__content--note {
    display : grid;
    grid-template-columns: 1fr 3fr 1fr 1fr auto; 
    text-align: left;
}


.content-value {
    display : flex;
    align-items: center;
}

.faPencil {
    margin-left : 10px;
    cursor : pointer;
}