.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor : pointer;
}

.edit-name-form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    position : relative;
    margin-top : 30px;
    width : 100%;
}

.edit-name-form input[type="text"] {
    width : 200px;
    height : 20px;
    border : none;
    padding-left : 5px;
}

input:disabled {
    background-color : lightgrey;
    border : none;
    color : #000000;
}

.edit-name-form label {
    margin : 10px 20px;
}

.input-group {
    margin-bottom : 10px;
}

.editing {
    display : none;
}


.option {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  width : 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 30px;
}

.edit-name-form.hidden { 
    display: none; 
}

.edit-name-form.visible {
    display: block;
}

.option.closing {
    display : none;
}