.header {
  color: #fff;
  margin-bottom: 2rem;
  width: 100%;;
}

/*.bg-dark {
  display : block;
}*/

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}